{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "flowtype",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] }
    ],
    "react/prefer-stateless-function": [
      2, { "ignorePureComponents": true }
    ],
    "react/forbid-prop-types": [0, { "forbid": [] }],
    "react/no-array-index-key": [0, "never"],
    "import/extensions": [1, "never", { "svg": "always" }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "semi": ["error", "never"],
    "no-underscore-dangle": [0, "never"],
    "padded-blocks": ["error", "always"]
  },
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  }
}
